@use "../abstracts/variable" as v;
@use "../abstracts/mixin" as m;

body {
    
    #details {
        background-color: v.$blue;

        .cards {
            .card {
                padding-bottom: 2rem;
            }

            .modifydelete {
                display: flex;
                align-items: center;
                gap: 20vh;
                a, input {
                border: 1px solid v.$red;
                background-color: v.$red;
                border-radius: 2px;
                color: v.$white;
                font-size: 1.2rem;
                padding: 1rem;
                text-decoration: none;
                position: relative;
            }
            }
        }
    }
}