@use "../abstracts/variable" as v;
@use "../abstracts/mixin" as m;

#loginpage {
    
    background-color: v.$blue;
    padding-bottom: 4rem;
    padding-top: 4rem;

    .container {
        @include m.container;

        .container-form {
            background-color: v.$white;
            padding-top: 3rem;
            padding-bottom: 3rem;
            border-radius: 2px;
            

            form {
                text-align: center;
                
                
                label {
                    font-size: 1.5rem;
                    display: block;
                    color: v.$red;
                }

                input {
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    border-radius: 10px;
                    border: none;
                    padding: 1rem;
                    color: v.$red;
                }

                button {
                    
                    background-color: v.$blue;
                    color: v.$white;
                    width: 30%;
                    border-radius: 2px;
                    padding: 1rem;
                    border: none;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                }

                .path {
                    display: flex;
                    justify-content: center;
                
                    a {
                        text-decoration: none;
                        display: block;
                        width: 30%;
                        text-align: center;
                        background-color: v.$blue;
                        color: v.$white;
                        border-radius: 2px;
                        padding: 1rem;
                        border: none;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}