@use "../abstracts/variable" as v;
@use "../abstracts/mixin" as m;

body {
    
    #modify {
        background-color: v.$blue;
        text-align: center;
        padding-top: 2rem;
        h1 {
            color: v.$white;
            font-size: 2rem;
        }

        .container {
            @include m.container;
            text-align: center;
            padding-top: 2rem;
            padding-bottom: 2rem;

            label {
                color: v.$white;
                display: block;
                font-size: 2rem;
                padding-bottom: 2rem;
                padding-top: 2rem;
            }

            input, textarea, select {
                color: v.$red;
                font-size: 1.5rem;
                padding: 1rem;
                border-radius: 2px;
            }

            button {
                margin-top: 1rem;
                border: 1px solid v.$red;
                background-color: v.$red;
                border-radius: 2px;
                color: v.$white;
                font-size: 1.2rem;
                padding: 1rem;
                text-decoration: none;
                position: relative;
            }

        }
    }
}