@use "../abstracts/variable" as v;
@use "../abstracts/mixin" as m;

#registerpage {
    
    background-color: v.$blue;
    padding-bottom: 2rem;
    padding-top: 2rem;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


    .container {
        @include m.container;
        background-color: v.$white;
        border-radius: 2px;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    form {
        text-align: center;

        label {
            font-size: 1.5rem;
            display: block;
            color: v.$red;
        }

        input {
            margin-bottom: 1rem;
            margin-top: 1rem;
            border-radius: 2px;
            border: none;
            padding: 1rem;
            color: v.$red;
        }

        button {
            background-color: v.$blue;
            color: v.$white;
            width: 30%;
            border-radius: 2px;
            padding: 1rem;
            border: none;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }
    }
}