@use "../abstracts/variable" as v;
@use "../abstracts/mixin" as m;

footer {
    
    #foot {
        background-color: v.$red;
        height: 20vh;
        display: flex;
        justify-content: space-evenly;

        .footleft {
            display: flex;
            align-items: center;
            p {
                font-family: v.$font-body;
                color: v.$blue;
                font-size: 2rem   
            }
                
        }

        .footright {
            display: flex;

            img {
                padding: 1rem;
            }
        }
    }
}