@use "../abstracts/variable" as v;

body {
    header {
        .nav-desktop {
            background-color: v.$red;
            height: 15vh;
            display: flex;
            justify-content: space-evenly;

            .nav-img {
                display: flex;

                img {
                    padding: 1rem;
                }
            }

            ul {
                height: 100%;
                display: flex; 
                gap: 5rem;
                list-style-type: none;
                justify-content: center;
                align-items: center;

                li {
                    a {
                        position: relative;
                        font-family: v.$font-title;
                        color: #F4F1DE;
                        text-shadow: #232C33 1px 1px 4px;
                        font-size: 1.5rem;
                        display: inline-block;
                        text-decoration: none;

                        &::before {
                            position: absolute;
                            content: '';
                            display: block;
                            width: 0;
                            height: 2px;
                            bottom: -5px;
                            background: v.$blue;
                            transition: width 0.3s;
                            box-shadow: #F5D7E3 1px 1px 4px;
                        }
                    }
                    
                    &:hover a::before {
                        width: 100%;
                    }
                }
            }
        }
    }
}